<div class="" id="filterrific_results">
  <div class="row">
    <% submissions.each do |submission| %>
      <%= render 'submission_grades/shared/submission', {submission: submission} %>
    <% end %>
  </div>
</div>

<%= will_paginate submissions %>
