<div class="jumbotron" style="margin-top: 10%">
  <h2 class="lead"><%= t('welcome_message') %></h2>
  <hr class="my-4">
  <p><%= t('welcome_login') %></p>
  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <a href=<%= omniauth_authorize_path(resource_name, provider) %>>
        <button class="btn btn-primary btn-lg" style="color: #022952;"><%= t('devise.sessions.login_btn') %></button>
      </a>
    <% end %>
  <% end %>
</div>