<% if mandatory %>
  <span class='badge badge-danger'><%= t('assignment.submission_grade.label.mandatory_yes') %></span>
<% else %>
  <span class='badge badge-secondary'><%= t('assignment.submission_grade.label.mandatory_no') %></span>
<% end %>
