<%= form_with(model: graded_rubric, local: true) do |form| %>
  <% if graded_rubric.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graded_rubric.errors.count, "error") %> prohibited this graded_rubric from being saved:</h2>

      <ul>
        <% graded_rubric.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
  <table class="table">
  <thead>
  <tr>
    <td>#</td>
    <td>Description</td>
    <td>Graded/Point</td>
    <td>Comment</td>
  </tr>
  </thead>
    <tbody>

    </tbody>
  </table>
  </div>
  <div class="actions">
    <%= form.submit "Grade", :class => 'btn btn-primary' %>
  </div>
<% end %>