<h3>Grading Form <%= @graded_rubric.display_name %></h3>

<%= render :partial => 'graded_rubrics/form/grade', graded_rubric: @graded_rubric %>

<!--<%#= link_to 'Show', @graded_rubric %> |-->
<%= link_to 'Back', :back, class: 'btn btn-outline-primary' %>
