<h4><%= "#{t('assignment.submission_grade.label.your_are_grading')} #{@graded_rubric.submission_grade.assignment.display_name}" %></h4>
<hr>
<%= render 'graded_rubrics/form/preview', graded_rubric: @graded_rubric %>