<p id="notice"><%= notice %></p>

<p>
  <strong>Comment:</strong>
  <%= @graded_rubric.comment %>
</p>

<p>
  <strong>Point:</strong>
  <%= @graded_rubric.point %>
</p>

<%= link_to 'Back', root_path %>
