<h3>Reset Results</h3>

<%= form_tag(reset_results_path, :multipart => true) do %>
  <%= file_field_tag(:file,  required: true) %>
  <%= submit_tag('Import', 'data-disable-with' => "Please wait..") %>
<% end %>
