<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p><%= t('mailer.submission_grade.assigned_mentor.dear_msg', mentor_email: @mentor.email) %></p>
<p>
  <span><%= t('mailer.submission_grade.assigned_mentor.content',
              link_to_grade: submission_grade_url(@submission_grade)) %></span>
</p>
<p><%= t('mailer.submission_grade.assigned_mentor.regards') %></p>
</body>
</html>