<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<strong>Dear <%= @user.full_name %>,</strong>
<p>
  <span>Your assignment solution was submitted successfully! You can view your
    submission <%= link_to 'here', submission_grade_url(@submission_grade) %>.</span>
</p>
<p>Regards,</p>
</body>
</html>