<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<p><%= t('mailer.submission_grade.taken_back_email.dear_msg', mentor_email: @mentor.email) %>,</p>
<p>
  <span><%= t('mailer.submission_grade.taken_back_email.content_first_par', submission_name: @submission_grade.display_name, learner_email: @submission_grade.student.email) %>. <br>
    <%= t('mailer.submission_grade.taken_back_email.content_second_par', mail_to: ENV['contact_email']) %> </span>
</p>
<p><%= t('mailer.submission_grade.taken_back_email.regards') %>,</p>
</body>
</html>