<div class="row">
  <div class="col-sm-6">
    <div class="form-group">
      <label>Select</label>
      <select class="form-control">
        <option>option 1</option>
        <option>option 2</option>
        <option>option 3</option>
        <option>option 4</option>
        <option>option 5</option>
      </select>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="form-group">
      <label> <%= t('assignment.submission_grade.label.assigned_at') %></label>

      <div class="input-group">
        <button type="button" class="btn btn-default float-right full-width__parent" id="daterange-btn">
          <span></span>
        </button>
      </div>
    </div>
  </div>
</div>
