<div class="card">
  <div class="card-header">
    <%= link_to "<i class='fas fa-arrow-left'></i>&nbsp;#{t('assignment.submission_grade.action.back')}".html_safe, current_user.learner? ? active_assignments_path : assigned_submissions_path %>
  </div>
  <div class="card-body">
    <%= render :partial => "submission_div", :locals => {submission: @submission_grade} %>
  </div>
  <div class="card-footer">
    <%= render "submission_actions" %>
  </div>
</div>
